/* Polices personnalisées */
@font-face {
    font-family: 'soulmaze';
    src: url('/police/made_soulmaze/MADE_Soulmaze_PERSONAL_USE.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'standrock';
    src: url('/police/stand-rock-font/Standrock-gxGP4.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

#canvasPlace {
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px red solid; */
}

#canvas {
    height: 50%;
    width: 50%;
    margin-top: 0;
}

/* Styles de base */
html, body {
    height: 50%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 80vh;
    background-color: #6E22DD;
    color: #28282D;
}

p {
    font-family: 'standrock', sans-serif;
    font-size: clamp(30px, 5vw, 70px);
}

h1 {
    position: absolute;
    font-family: 'soulmaze', sans-serif;
    font-size: clamp(40px, 8vw, 90px);
}

/* Section de jeu */
#game {
    position: absolute;
    height: 102vh;
    width: 100%;
    background-color: #cddd20;
    margin-top: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Logo */
#logo {
    margin-top: 2em;
    width: 100%;
    max-width: 200px;
    text-align: center;
    user-select: none;
}

#logo img {
    width: 100%;
    height: auto;
    max-width: 114px;
}

/* Titre */
#title {
    margin-top: 1em;
    position: absolute;
    top: 10%;
    width: 50%;
    height: 50%;
    display: flex;
    user-select: none;
}

#title p {
    margin-right: 0.5em;
    position: absolute;
    bottom: 3%;
    right: 0;
    font-family: 'standrock', sans-serif;
    font-size: clamp(20px, 4vw, 40px);
}


/* Ponctuation */
#ponctuation {
    position: relative;
    left: 30%;
    top: 3%;
    height: clamp(50px, 20vw, 214px);
}

/* Lettres */
.letter-p, .letter-r, .letter-a, .letter-3 {
    position: relative;
    display: inline-block;
    line-height: 1;
    font-size: 1em;
    vertical-align: baseline;
    margin-left: -0.3em;
    margin-right: -0.3em;
}

.letter-p, .letter-3 {
    margin-left: 0.1em;
}

.letter-p .svg-112, .letter-r .svg-111, .letter-a .svg-114, .letter-3 .svg-113 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* Texte animé */
.animated-text {
    visibility: hidden;
    display: inline-block;
    font-size: clamp(20px, 5vw, 50px);
    user-select: none;
}

.text1 {
    position: absolute;
    top: 5%;
    left: 9%;
    transform: rotate(-15deg);
}

.text2 {
    position: absolute;
    top: 35%;
    left: 0;
    transform: rotate(-4.03deg);
}

.text3 {
    position: absolute;
    top: 5%;
    left: 60%;
    transform: rotate(9.3deg);
}

/* Gobelets */
#gobelets {
    margin-top: 7em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}

.disable {
    pointer-events: none;
}

#gobelet {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
    width: 50%;
    max-width: 250px;
}

#gobelets img {
    margin-inline: 2em;
    width: 100%;
    height: auto;
}

#gobelet img {
    position: relative;
    z-index: 3;
    transition: transform 0.5s ease;
    transform: translateY(-50px);
}

#gobelet span {
    color: white;
    font-family: 'standrock', sans-serif;
    font-size: 31px;
    background-color: #28282D;
    clip-path: ellipse(42px 21px at center);
    display: inline-block;
    width: 84px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    position: absolute;
    bottom: -21px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    opacity: 1;
    transition: opacity 0.5s ease;
}

/* Animations des gobelets */
.moveRightGoblets, .moveLeftGoblets {
    animation-delay: 0.5s;
}

.moveRightGoblets {
    animation: RightgobeletAnimation 5s ease-in-out forwards;
}

.moveLeftGoblets {
    animation: LeftgobeletAnimation 5s ease-in-out forwards;
}

.shakeGoblets {
    animation: shakeAnimation 0.5s ease-in-out forwards;
}

.UpGoblet {
    animation: UpGobletAnimation 0.5s ease-in-out forwards;
}

.DownGoblet {
    animation: DownGobletAnimation 0.5s ease-in-out forwards;
}

/* Keyframes pour les animations */
@keyframes RightgobeletAnimation {
    0% { transform: translateY(0) translateX(0); }
    10% { transform: translateY(50px) translateX(0); }
    20%, 30%, 40%, 50%, 60% { transform: translateY(50px) translateX(-350px); }
    25%, 35%, 45%, 55%, 65% { transform: translateY(50px) translateX(100px); }
    70%, 100% { transform: translateY(50px) translateX(0); }
}

@keyframes LeftgobeletAnimation {
    0% { transform: translateY(0) translateX(0); }
    10% { transform: translateY(50px) translateX(0); }
    20%, 30%, 40%, 50%, 60% { transform: translateY(50px) translateX(350px); }
    25%, 35%, 45%, 55%, 65% { transform: translateY(50px) translateX(-100px); }
    70%, 100% { transform: translateY(50px) translateX(0); }
}

@keyframes shakeAnimation {
    0%, 100% { transform: translateY(50px) rotate(0deg); }
    25% { transform: translateY(50px) rotate(-2deg); }
    50% { transform: translateY(50px) rotate(2deg); }
    75% { transform: translateY(50px) rotate(-2deg); }
}

@keyframes UpGobletAnimation {
    0% { transform: translateY(0); }
    100% { transform: translateY(-50px); }
}

@keyframes DownGobletAnimation {
    0% { transform: translateY(-50px); }
    100% { transform: translateY(0); }
}

/* Media queries */
@media (max-width: 1024px) {


    #canvasPlace {
        width: 100%;
    }
    #canvas {
        height: 50%;
        width: 80%;
    }

    #title p {
        position: absolute;
        bottom: 25%; 
        left: 35%;
    }

    #gobelet {
        margin-top: 2Em;
        width: 40%;
    }

    #ponctuation {
        margin-left: 12%;
    }

    .text2 {
        position: absolute;
        left: 10%;
    }

    #gobelet img {
        margin-inline: 1.5em;
    }

    #title {
        margin-top: 3em;
        width: 70%;
    }

    #gobelets {
        margin-top: 15em;
    }

    @keyframes RightgobeletAnimation {
        0% { transform: translateY(0) translateX(0); }
        10% { transform: translateY(50px) translateX(0); }
        20%, 30%, 40%, 50%, 60% { transform: translateY(50px) translateX(-200px); }
        25%, 35%, 45%, 55%, 65% { transform: translateY(50px) translateX(50px); }
        70%, 100% { transform: translateY(50px) translateX(0); }
    }

    @keyframes LeftgobeletAnimation {
        0% { transform: translateY(0) translateX(0); }
        10% { transform: translateY(50px) translateX(0); }
        20%, 30%, 40%, 50%, 60% { transform: translateY(50px) translateX(200px); }
        25%, 35%, 45%, 55%, 65% { transform: translateY(50px) translateX(-50px); }
        70%, 100% { transform: translateY(50px) translateX(0); }
    }
}

@media (max-width: 480px) {

    body {
        height: 50vh;
    }

    #canvasPlace {
        width: 100%;
    }
    #canvas {
        height: 50%;
        width: 100%;
    }

    #ponctuation {
        margin-left: 17%;
    }

    h1 {
        font-size: clamp(20px, 8vw, 40px);
    }

    #gobelet {
        width: 30%;
    }

    #gobelet img {
        margin-inline: 1em;
    }

    #gobelet span {
        font-size: 18px;
    }

    #gobelets {
        margin-top: 15  em;
    }

    #title {
        margin-top: 3em;
        width: 70%;
    }

    .text2 {
        position: absolute;
        left: 15%;
        transform: rotate(-4.03deg);
    }

    #title p {
        position: absolute;
        bottom: 60%;
        left: 45%;
    }

    @keyframes RightgobeletAnimation {
        0% { transform: translateY(0) translateX(0); }
        10% { transform: translateY(50px) translateX(0); }
        20%, 30%, 40%, 50%, 60% { transform: translateY(50px) translateX(-100px); }
        25%, 35%, 45%, 55%, 65% { transform: translateY(50px) translateX(30px); }
        70%, 100% { transform: translateY(50px) translateX(0); }
    }

    @keyframes LeftgobeletAnimation {
        0% { transform: translateY(0) translateX(0); }
        10% { transform: translateY(50px) translateX(0); }
        20%, 30%, 40%, 50%, 60% { transform: translateY(50px) translateX(100px); }
        25%, 35%, 45%, 55%, 65% { transform: translateY(50px) translateX(-30px); }
        70%, 100% { transform: translateY(50px) translateX(0); }
    }
}

@media (max-width: 360px) {
    #gobelets {
        margin-top: 25em;
    }

    .text2 {
        position: absolute;
        top: 40%;
        left: 0;
        transform: rotate(-4.03deg);
    }

    #title {
        margin-top: 4em; /* Augmenter encore la marge supérieure pour les écrans plus petits */
    }

    .text2 {
        position: absolute;
        top: 45%; /* Ajuster la position pour éloigner le titre du logo */
        left: 0;
        transform: rotate(-4.03deg);
    }
}
