@font-face {
    font-family: 'soulmaze';
    src: url('../police/made_soulmaze/MADE\ Soulmaze\ PERSONAL\ USE.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'standrock';
    src: url('../police/stand-rock-font/Standrock-gxGP4.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* style pour html et body  */

html, body {
    height: 150%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: #6E22DD;
    color: #28282D;
}

/* positionnement de la div principal GAME */

#game {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #cddd20;
    margin-top: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ajout des police */

p {
    font-family: 'standrock', sans-serif;
    font-size: clamp(30px, 5vw, 70px);
}

h1 {
    position: absolute;
    font-family: 'soulmaze', sans-serif;
    font-size: clamp(40px, 8vw, 90px);
}

/* position et taille du logo */

#logo {
    margin-top: 2em;
    width: 100%;
    max-width: 200px;
    text-align: center;
}

#logo img {
    width: 100%;
    height: auto;
    max-width: 114px;
}

/* placement de la div du titre */

#title {
    margin-top: 1em;
    position: absolute;
    top: 10%;
    width: 50%;
    height: 50%;
    display: flex;
}

#title p {
    margin-right: 0.5em;
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: 'standrock', sans-serif;
    font-size: clamp(20px, 4vw, 40px);
}

/* placement du point dexlamation */

#ponctuation {
    position: relative;
    left: 30%;
    top: 3%;
    height: clamp(150px, 20vw, 214px);
}

/* Placement des SVG */


/* ON place les SVG sur les lettres */

.letter-p, .letter-r, .letter-a, .letter-3 {
    position: relative;
    display: inline-block;
    line-height: 1;
    font-size: 1em;
    vertical-align: baseline;
    margin-left: -0.3em;
    margin-right: -0.3em;
}

.letter-p, .letter-3 {
    margin-left: 0.1em;
}

/* Ajustements spécifiques pour R et A */



.letter-p .svg-112, .letter-r .svg-111, .letter-a .svg-114, .letter-3 .svg-113 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1;
}




